@media screen and (min-width: 1200px)
{
html {zoom: 80%;}
body {
	background-image: url(https://raw.githubusercontent.com/Phattharaphum/MyCSTUPassport-6609612160/main/image/bg01.jpg);
	width: 100%;
	height: 100%;
	margin-top: 0;
	background-size:cover;
	background-attachment:fixed;
}
.sbody {
    margin: auto;
	max-width:1500px;
	height: 100%;
	box-shadow: 0px 0px 15px 5px #0E0E0E;
}
div.mainbd {
	display: inline-flex;
	flex-direction: column;
	background-color: #30302F;
	margin: auto;
	width: 100%;
	background-attachment: fixed;
}
div.tophead {
    display: flex;
}
div.W1 {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	background-image: url(https://raw.githubusercontent.com/Phattharaphum/MyCSTUPassport-6609612160/main/image/bg01blur.jpg);
	background-attachment:fixed;
	background-size: cover;
	
}
div.mhead {
    background-color: #242424;
    display:inline-flex;
    padding: 15px;
    border-radius: 0 0 2em 2em;
    margin: 0 0 2em 2em;
	transform: scale(1);
	position: relative;
	margin-left: 2em;
	margin-top: 0em;
}
div.nev1 {
    color:white ;
    align-self: baseline;
    margin-left: 30em;
    margin-top: 4em;
}
a.nev2 {
    font-family:space mono ;
    color: white;
    margin-right: 4em;
    font-weight: bold;
    font-size: 20pt;
	background-color: #4E4E4F;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
}
div.s1head {
    display:inline-flex;
    flex-direction: column;
    margin: 0;
}
div.s2head {
    display:inline-flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 1em;
}
p.my {
    font-family: space mono;
    font-size: 30pt;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto ;
	background-color: #252422;
}
p.cstu {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: space mono;
    font-size: 30pt;
    color: white;
    font-weight: bold;
    margin: 0;
    background-color: #444444;
    border-radius: 20px;
    
}
p.passp {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: space mono;
    font-size: 18pt;
    color: white;
    font-weight: bold;
    margin: auto;
}
div.tmn {
	display: inline-flex;
	margin: 0;
	flex-direction: row;
	width: 100%;
	padding-top: 5em;
	padding-bottom: 8em;
	
}
div.mn {
	display:inline-flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
}
p.mnn {
	color: white;
	font-family: Bebas Neue;
	font-size: 80pt;
	margin: 0;
	margin-left: 0px;
	text-align: center;
}
p.mnn2 {
	color: white;
	font-family: Bebas Neue;
	font-size: 200pt;
	margin: 0;
	margin-left: 0px;
	text-align: center;
	line-height: 200px
}
p.mnn3 {
	color: white;
	font-family: Bebas Neue;
	font-size: 100pt;
	margin-top: 0;
	margin-left: 100px;
	line-height: 90px
}
h2 {
	font-family: Kanit;
	font-size: 35pt;
	font-weight:700;
	background-color:white;
	display: inline-flex;
	padding: 30px 10px 30px 10px;
	margin: auto;
	border-radius: 25px;
	color:#252422;
	
}
strong{
	font-weight: 700;
	background-color: #CDD1D0;
	color:#252422;
	font-family: Kanit;
	font-size: 20pt;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	
}
div.mnf1{
	padding-top: 6em;
	padding-bottom: 6em;
}
div.mnf1{
	display: flex;
	flex-direction: row;
	
}
p.mnp {
	font-family: kanit;
	line-height: 60px;
	font-size: 20pt;
	margin: 0;
	margin-left: 50px;
	color: white;
	font-weight: 400;
	line-height: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
	text-decoration:none;
}
div.maininfo5 {
	display: flex;
	flex-direction: row;
	font-size: 20pt;
	font-family: Kanit;
	line-height: 2pt;
	background-color: #0D0D0D;
	border-radius: 0px;
	color: white;
	width: 100%;
	height: 150px;
	
}
.pic2 {
	height: 50px;
}
.cont1 {
	display: inline-flex;
	flex-direction: row;
	background-color: #111111;
	margin-top: 20px;
	padding: 1em;
	border-radius: 20px;
	width: 300px;
	margin-left: 4em;
	transition:all 600ms
}
.cont1:hover{
	background-color: #292929;
}

a.ln{
	margin: 1em;
	color: white;
}
.nev3 {
	font-family:space mono ;
    color: white;
    margin-right: 2em;
    font-weight: bold;
    font-size: 20pt;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
}
.nev3:hover {
		background-color: #4E4E4F;
}



.nev4 {
	 font-family:space mono ;
    color: white;
    margin-right: 2em;
    font-weight: bold;
    font-size: 20pt;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
}
.nev4:hover {
		background-color: #4E4E4F;
}
.Footer {
	text-align: center;
	font-family: space mono;
	font-size: 30pt;
	font-weight: bold;
	color: white;
	background-color: #0D0D0D;
	margin-top: 0em;
	padding-top: 10px;
	padding-bottom: 10px;
}
.freespace {
	height: 300px;
	background-color: transparent;
	
}
.upbody {
	display: flex;
	margin: 0 0 0 0;
	flex-direction: column;
}
.myac1 {
	display: flex;
	flex-direction: column;
	background-color: #262626;
	width: 600px;
	margin-left: 5em;
	border-radius: 20px;
	transition:all 400ms ease-in-out ;
}
.myac1:hover {
	transform: scale(1.1, 1.1);
}
.imgac1 {
	height: 415px;
	
}

h1 {
	font-family: space mono;
	font-size: 35pt;
	text-align: center;
	background-color: #0E0E0E;
	margin:0;
	color: white;
	text-decoration:none
}

.btac1 {
	font-family: kanit;
	font-size: 30pt;
	font-weight: bold;
	background-color: #494949;
	margin: auto;
	padding: 10px;
	margin-bottom: 1em;
	border-radius: 15px;
	text-align: center;
	width: 200px;
	color: white;
	text-decoration:none;
}
 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}
}